body{
    font-family: 'Noto Serif', serif;
    line-height: 1.8;
    margin: 0;
    background-color: #eeebda;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h1, h2, h3{
    font-family: "Josefin Sans", "Noto Serif", "Dancing Script", sans-serif;
    margin-top: 0;
}

img{
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.wrapper{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
#site-header{
    /*
        TODO
        - Flexbox property here
    */
}
#site-header div{
    text-align: center;
    padding: 60px 0 120px 0;
    font-size: 4em;
    background-image: url('img/header-img.jpg');
    background-size: cover;
    background-position: right bottom;
}
#site-header div h1,
#site-header div h3{
    margin: 0;
    line-height: 1;
    position: relative;
}
#site-header div h1{
    top: 20px;
}
#site-header div h3{
    color: white;
    bottom: 20px;
    text-shadow: 0 5px 8px rgba( 0, 0, 0, 0.3 );
    font-family: "Dancing Script";

}
#main-navigation{
    background: #444;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#main-navigation a{
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    flex-grow: 1;
}

#main-navigation #logo{
    margin-right: 400px;
}

main{
    padding: 20px;
    background-color: #444;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    z-index: 2;
    margin-top: -30px;
}

aside{
    padding: 20px;
    background-color: #eee;
    box-shadow: 5px 5px 8px rgba( 0, 0, 0, 0.3 );
    width: 200px;
    flex-direction: row;
    margin-top: -30px;
}
aside h3{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}
aside img{
    border-radius: 50%;
    margin-bottom: 30px;
    border: 2px solid white;
}
article{
    background-color: white;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    padding: 20px;
    margin-bottom: 20px;
    width: 553px;
}

article h2{
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
article time {
    font-size: 0.8em;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    color: #666;
}
article img{
    height: 200px;
    width: auto;
    float: right;
    margin-left: 20px;
}
article footer p{
  clear: both;
  text-align: center;
  border-top: 1px solid grey;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #564e4e;
}
#site-footer{
    background: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
